body{
	background: grey;
}

img{
width:100%;
  margin:5px 0;
  border-radius:2px;
  box-shadow:0px 4px 0px #f1f1f1;
}
 .galeria{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap:10px;
}
.cuadricula{
display: grid;
grid-gap: 2px;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 200px 200px 200px;
  grid-template-areas:
   "a a a a b b b b c c c c"
   "d d d d e e e e f f f f"
   "g g g g h h h h i i i i";
}


.cuadro1 {
  background:white;
  grid-area: a;
}
.cuadro1:hover {
background-color: #EB4ED3;
}
.cuadro2 {
    background:white;
    grid-area: b;
  }
  .cuadro2:hover {
    background-image: url(https://i.ibb.co/H2Bc3kt/paisaje.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
.cuadro3 {
background:white;
grid-area: c;
}
.cuadro3:hover{
  color:rgb(76, 0, 255);
  font-size: x-large
}
.cuadro4 {
background:white;
grid-area: d;
}
.cuadro4:hover{
  color:red;
  font-size: x-large
}
.cuadro5 {
background:white;
grid-area: e;
}
.cuadro5:hover{
  color:rgb(255, 0, 149);
  font-size: x-large
}
.cuadro6 {
background:white;
grid-area: f;
}
.cuadro6:hover {
background-color: rgb(64, 25, 238);
}
.cuadro7 {
background:white;
grid-area: g;
}
.cuadro7:hover {
  background-image: url(https://i.ibb.co/H2Bc3kt/paisaje.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cuadro8 {
background:white;
grid-area: h;
}
.cuadro8:hover {
background-color: rgb(7, 204, 40);
}
.cuadro9 {
background:white;
grid-area: i;
}
.cuadro9:hover {
  background-image: url(https://i.ibb.co/bdRBZjc/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
img{
width:100%;
height:100%;
  margin:0px 0;
}